@model LahoreGarrisonUniversity.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="col-sm-7 col-md-5">

    <div class="portlet">
        <h4 class="portlet-title">
            <u>@Html.DisplayFor(model => model.Name)</u>
        </h4>
        <!-- /widget-header -->
        <div class="portlet-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.StudentDepartment.Code)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StudentDepartment.Code)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Contact)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Contact)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RegistrationId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RegistrationId)
                </dd>

            </dl>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
