@model LahoreGarrisonUniversity.Areas.FrontEnd.Models.ReviewModel

@{
    ViewBag.Title = "Index";
}

    <div class="page-content">
        <div class="row">
            <article class="contact-form col-md-8 col-sm-7  page-row">
                <h3 class="title">Get in touch</h3>
                <p>We’d love to hear from you. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut erat magna. Aliquam porta sem a lacus imperdiet posuere. Integer semper eget ligula id eleifend. </p>
                @using (Html.BeginForm("SendReview", "Contact", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                        <div class="form-group name">
                            <label for="name">Name<span class="required">*</span></label>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Enter your name" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @id = "name", @class = "text-danger" })
                        </div><!--//form-group-->
                        <div class="form-group email">
                            <label for="email">Email<span class="required">*</span></label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter your Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @id = "email", @class = "text-danger" })
                        </div><!--//form-group-->
                        <div class="form-group phone">
                            <label for="phone">Phone</label>
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Enter your contact number" })
                            @Html.ValidationMessageFor(m => m.Phone, "", new { @id = "phone", @class = "text-danger" })
                        </div><!--//form-group-->
                        <div class="form-group message">
                            <label for="message">Message<span class="required">*</span></label>
                            @Html.TextAreaFor(m => m.Message, new { rows="6", @id = "message", @class = "form-control", placeholder = "Enter your message here..." })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div><!--//form-group-->
                        <button type="submit" class="btn btn-theme">Send message</button>
                }
            </article><!--//contact-form-->
            <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
                <section class="widget has-divider">
                    <h3 class="title">Download Prospectus</h3>
                    <p>Donec pulvinar arcu lacus, vel aliquam libero scelerisque a. Cras mi tellus, vulputate eu eleifend at, consectetur fringilla lacus. Nulla ut purus.</p>
                    <a class="btn btn-theme" href="#"><i class="fa fa-download"></i>Download now</a>
                </section><!--//widget-->

                <section class="widget has-divider">
                    <h3 class="title">Postal Address</h3>
                    <p class="adr">
                        <span class="adr-group">
                            <span class="street-address">College Green</span><br>
                            <span class="region">56 College Green Road</span><br>
                            <span class="postal-code">BS16 AP18</span><br>
                            <span class="country-name">UK</span>
                        </span>
                    </p>
                </section><!--//widget-->

                <section class="widget">
                    <h3 class="title">All Enquiries</h3>
                    <p class="tel"><i class="fa fa-phone"></i>Tel: 0800 123 4567</p>
                    <p class="email"><i class="fa fa-envelope"></i>Email: <a href="#">enquires@website.com</a></p>
                </section>
            </aside><!--//page-sidebar-->
        </div><!--//page-row-->
        <div class="page-row">
            <article class="map-section">
                <h3 class="title">How to find us</h3>
                <div id="map-canvas" style="position: relative; background-color: rgb(229, 227, 223);">
                    
                </div>
            </article><!--//map-->
        </div><!--//page-row-->
    </div><!--//page-content-->

@section Scripts{
    
   <script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDzag-Fv0EWmvUu5JWJ-5l8DiuAW1VPO70&sensor=false">
</script>
    
    <script type="text/javascript">
        debugger;
        var myCenter = new google.maps.LatLng(31.51327, 74.42282);

        var marker = new google.maps.Marker({
            position: myCenter,
            url: '/',
            animation: google.maps.Animation.DROP
        });

        function initialize() {
            var mapProp = {
                center: myCenter,
                zoom: 14,
                draggable: false,
                scrollwheel: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("map-canvas"), mapProp);

            marker.setMap(map);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
        google.maps.event.addListener(marker, 'click', function () { window.location.href = marker.url; });
    </script>
}
