<div class="mainnav">
    <div class="container">
        <a class="mainnav-toggle" data-toggle="collapse" data-target=".mainnav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars"></i>
        </a>
        <nav class="collapse mainnav-collapse" role="navigation">
            <form class="mainnav-form pull-right" role="search">
                <input type="text" class="form-control input-md mainnav-search-query" placeholder="Search">
                <button class="btn btn-sm mainnav-form-btn"><i class="fa fa-search"></i></button>
            </form>
            <ul class="mainnav-menu">
                <li class="dropdown active">
                    <a href="@Url.Action("Index","Home")" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                        Quick Links
                        <i class="mainnav-caret"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="@Url.Action("Create", "UsersAdmin")">
                                <i class="fa fa-dashboard"></i>
                                &nbsp;&nbsp;Applicant Registration
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "UsersAdmin")">
                                <i class="fa fa-dashboard"></i>
                                &nbsp;&nbsp;Users
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create", "Events")">
                                <i class="fa fa-dashboard"></i>
                                &nbsp;&nbsp;Event Creation
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create", "News")">
                                <i class="fa fa-dashboard"></i>
                                &nbsp;&nbsp;News Creation
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                        Academics
                        <i class="mainnav-caret"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="@Url.Action("Create", "UsersAdmin")">
                                <i class="fa fa-bars"></i>
                                &nbsp;&nbsp;Applicant Registration
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "FrontEndCourses")">
                                <i class="fa fa-calendar-o"></i>
                                &nbsp;&nbsp;Website Courses
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Courses")">
                                <i class="fa fa-calendar-o"></i>
                                &nbsp;&nbsp;Courses
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Student")">
                                <i class="fa fa-table"></i>
                                &nbsp;&nbsp;Students
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "ResultEntry")">
                                <i class="fa fa-picture-o"></i>
                                &nbsp;&nbsp;Examination
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create", "Teacher")">
                                <i class="fa fa-bar-chart-o"></i>
                                &nbsp;&nbsp;Placement
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                        Collaboration
                        <i class="mainnav-caret"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="@Url.Action("Index", "News")">
                                <i class="fa fa-cogs"></i>
                                &nbsp;&nbsp;News
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create", "Events")">
                                <i class="fa fa-question"></i>
                                &nbsp;&nbsp;Event Creation
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Testimonial")">
                                <i class="fa fa-question"></i>
                                &nbsp;&nbsp;Testimonials
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                        Administration
                        <i class="mainnav-caret"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="@Url.Action("Index", "UsersAdmin")">
                                <i class="fa fa-bell"></i>
                                &nbsp;&nbsp;Users
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "RolesAdmin")">
                                <i class="fa fa-bell"></i>
                                &nbsp;&nbsp;Users
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Student")">
                                <i class="fa fa-smile-o"></i>
                                &nbsp;&nbsp;Students
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Teacher")">
                                <i class="fa fa-ban"></i>
                                &nbsp;&nbsp;Employees
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Department")">
                                <i class="fa fa-ban"></i>
                                &nbsp;&nbsp;Departments
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Jobs")">
                                <i class="fa fa-ban"></i>
                                &nbsp;&nbsp;Jobs
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "RoomAllocation")">
                                <i class="fa fa-ban"></i>
                                &nbsp;&nbsp;Room Allocation
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "AssignCourse")">
                                <i class="fa fa-ban"></i>
                                &nbsp;&nbsp;Assign Course
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "EnrollCourse")">
                                <i class="fa fa-ban"></i>
                                &nbsp;&nbsp;Enroll Course
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div> <!-- /.container -->
</div>