<div class="mainnav">
    <div class="container">
        <a class="mainnav-toggle" data-toggle="collapse" data-target=".mainnav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars"></i>
        </a>
        <nav class="collapse mainnav-collapse" role="navigation">
            <form class="mainnav-form pull-right" role="search">
                <input type="text" class="form-control input-md mainnav-search-query" placeholder="Search">
                <button class="btn btn-sm mainnav-form-btn"><i class="fa fa-search"></i></button>
            </form>
            <ul class="mainnav-menu">
                <li class="dropdown ">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                        Academics
                        <i class="mainnav-caret"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="@Url.Action("AskToAssign", "AssignCourse")">
                                <i class="fa fa-ban"></i>
                                &nbsp;&nbsp;Ask To Assign
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("AssignConfirmed", "AssignCourse")">
                                <i class="fa fa-ban"></i>
                                &nbsp;&nbsp;Assign Confirmed
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("ViewCourseStatus", "AssignCourse")">
                                <i class="fa fa-ban"></i>
                                &nbsp;&nbsp;View Course Status
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("ViewResult", "ResultEntry")">
                                <i class="fa fa-picture-o"></i>
                                &nbsp;&nbsp;View Result
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("RoomAllocationView", "RoomAllocation")">
                                <i class="fa fa-ban"></i>
                                &nbsp;&nbsp;Room Allocation View
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                        Collaboration
                        <i class="mainnav-caret"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="@Url.Action("Index", "Testimonial")">
                                <i class="fa fa-question"></i>
                                &nbsp;&nbsp;Testimonials
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div> <!-- /.container -->
</div>