@{
    ViewBag.Title = "Downloads";
}

<div class="page-content">
    <div class="row page-row">
        <div class="news-wrapper col-md-8 col-sm-7">
            <article class="news-item page-row has-divider clearfix row">
                <div class="details col-md-10 col-sm-9 col-xs-8">
                    <h3 class="title"><a href="#">Addmission Form</a></h3>
                    <p>Instructions:</p>
                    <p>Please attach two attested copies of following documents:</p>
                    <ul>
                        <li>1. Academic Certificates and Marks Sheets</li>
                        <li>2. Character Certificate from last attended Institute</li>
                        <li>3. Computerized National Identity Card or Form-B</li>
                        <li>4. No Objection Certificate (NOC)/Migration Certificate</li>
                        <li>5. Father/Guardian Computerized National Identity Card (CNIC)</li>
                        <li>6. Discharge Certificate (for Armed Forces/Defence State/Retired Personnel’s)</li>
                        <li>7. Four Photographs (Size 1.5×1.5)</li>
                    </ul>
                    <p>
                        Note: The application will not be accepted unless accompanied by the above listed documents and Incomplete.
                        You can send complete form attached documents and draft of Rs. 650/- in favor of Treasurer Lahore Garrison University through courier/post. Clearly mention Admission Form on Postal Envelope
                    </p>
                    <p><a class="btn btn-theme" href="#"><i class="fa fa-download"></i>Download now</a></p>
                </div>
                <div class="details col-md-10 col-sm-9 col-xs-8">
                    <h3 class="title"><a href="#">Important Notice</a></h3>
                    <p><a class="btn btn-theme" href="@Url.Action("DownloadImpNotice", "Widgets")"><i class="fa fa-download"></i>Download now</a></p>
                </div>
                <div class="details col-md-10 col-sm-9 col-xs-8">
                    <h3 class="title"><a href="#">Scholarship</a></h3>
                    <p>various scholarships are available in LGU.</p>
                    <p><a class="btn btn-theme" href="@Url.Action("DownloadScholarship", "Widgets")"><i class="fa fa-download"></i>Download now</a></p>
                </div>
                <div class="details col-md-10 col-sm-9 col-xs-8">
                    <h3 class="title"><a href="#">Scholarship Description</a></h3>
                    <p><a class="btn btn-theme" href="@Url.Action("DownloadScholarshipDescription", "Widgets")"><i class="fa fa-download"></i>Download now</a></p>
                </div>
                <div class="details col-md-10 col-sm-9 col-xs-8">
                    <h3 class="title"><a href="#">Fee Notice</a></h3>
                    <p>Fee Details for different departments.</p>
                    <p><a class="btn btn-theme" href="@Url.Action("DownloadFeeNotice", "Widgets")"><i class="fa fa-download"></i>Download now</a></p>
                </div>
                <div class="details col-md-10 col-sm-9 col-xs-8">
                    <h3 class="title"><a href="#">Fee Schedule</a></h3>
                    <p>Fee Schedule for various deparments.</p>
                    <p><a class="btn btn-theme" href="@Url.Action("DownloadFeeSchedule", "Widgets")"><i class="fa fa-download"></i>Download now</a></p>
                </div>
                <div class="details col-md-10 col-sm-9 col-xs-8">
                    <h3 class="title"><a href="#">Bus Route Information</a></h3>
                    <p>Transport facility by Lahore Garrison University.</p>
                    <p><a class="btn btn-theme" href="@Url.Action("DownloadRoute", "Widgets")"><i class="fa fa-download"></i>Download now</a></p>
                </div>
            </article>
        </div><!--//news-wrapper-->
    </div><!--//page-row-->
</div>
