@model IEnumerable<LahoreGarrisonUniversity.Models.Event>

<section class="widget has-divider">
    <h3 class="title">Upcoming Events</h3>
    @foreach (var item in Model)
    {
        <article class="events-item row page-row">
            <div class="date-label-wrapper col-md-3 col-sm-4 col-xs-4">
                <p class="date-label">
                    <span class="month">@item.StartDate.GetValueOrDefault().Month.ToString().Substring(0, 3).ToUpper()</span>
                    <span class="date-number">@item.StartDate.GetValueOrDefault().Day</span>
                </p>
            </div><!--//date-label-wrapper-->
            <div class="details col-md-9 col-sm-8 col-xs-8">
                <h5 class="title">@item.Title</h5>
                <p class="time text-muted">@item.StartDate.GetValueOrDefault().Hour am - @item.StartDate.GetValueOrDefault().Hour + 2 pm<br>@item.Location</p>
            </div><!--//details-->
        </article>
    }
</section>