@model IEnumerable<LahoreGarrisonUniversity.Models.FrontEndCourse>

@{
    ViewBag.Title = "PostGraduate";
}


<div class="page-content">
    <div class="row page-row">
        <div class="courses-wrapper col-md-8 col-sm-7">
            <div class="featured-courses tabbed-info page-row">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Featured</a></li>
                    <li><a href="#tab2" data-toggle="tab">Popular</a></li>
                    <li><a href="#tab3" data-toggle="tab">New</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <div class="row">
                            @foreach (var course in Model.Take(4))
                            {
                                <div class="item col-md-3 col-sm-6 col-xs-6">
                                    <img class="img-responsive" src="@course.ImageUrl" alt="">
                                    <p class="text-center"><a href="#">@course.Title</a></p>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <div class="row">
                            @foreach (var course in Model.Skip(4).Take(4))
                            {
                                <div class="item col-md-3 col-sm-6 col-xs-6">
                                    <img class="img-responsive" src="@course.ImageUrl" alt="">
                                    <p class="text-center"><a href="#">@course.Title</a></p>
                                </div>
                            }
                        </div><!--//row-->
                    </div>
                    <div class="tab-pane" id="tab3">
                        <div class="row">
                            @foreach (var course in Model.Skip(8).Take(4))
                            {
                                <div class="item col-md-3 col-sm-6 col-xs-6">
                                    <img class="img-responsive" src="@course.ImageUrl" alt="">
                                    <p class="text-center"><a href="#">@course.Title</a></p>
                                </div>
                            }
                        </div><!--//row-->
                    </div>
                </div>
            </div><!--//featured-courses-->
            <div class="course-list-header box clearfix">
                <div class="summary pull-left"><strong>@Model.Count()</strong> offline courses | <strong>0</strong> online courses</div>
            </div><!--//course-list-header-->
            <div class="course-item-header row-divider hidden-sm hidden-xs">
                <div class="row">
                    <div class="col-title col-md-4 col-sm-6"><strong>Course name</strong></div>
                    <div class="col-meta col-md-8 col-sm-6">
                        <div class="row">
                            <div class="col-start col-md-3"><strong>Study Level</strong></div>
                            <div class="col-duration col-md-2"><strong>Duration</strong></div>
                            <div class="col-level col-md-3"><strong>Course Level</strong></div>
                            <div class="col-location col-md-4"><strong>Semester</strong></div>
                        </div>
                    </div><!--//col-meta-->
                </div><!---//row-->
            </div>
            @foreach (var course in Model)
            {
                <article id="courseInfo" class="course-item row-divider">
                    <div class="details row">
                        <div class="col-title col-md-4 col-sm-6">
                            <a href="@Url.Action("CourseDetails", "Academic", new { id = course.Id })">@course.Title</a>
                            <span class="label label-success">New</span>
                        </div>
                        <div class="col-meta col-md-8 col-sm-6">
                            <div class="row">
                                <div class="col-start col-md-3">@course.StudentLevel</div>
                                <div class="col-duration col-md-2">@course.Duration</div>
                                <div class="col-level col-md-3">@course.Level</div>
                                <div class="col-location col-md-4">@course.Semester</div>
                            </div>
                        </div>
                    </div>
                </article>
            }
        </div><!--//courses-wrapper-->
        <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
            @Html.Partial("~/Areas/FrontEnd/Views/Shared/Widgets/_DownloadProspectus.cshtml")
            @Html.Partial("~/Areas/FrontEnd/Views/Shared/PartialViews/_Testimonial.cshtml")
        </aside>
    </div>
</div>