@model IEnumerable<LahoreGarrisonUniversity.Models.Department>

@{
    ViewBag.Title = "Index";
}
<style>
    .row {
        display: table-row;
    }

    .cell {
        display: table-cell;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<div class="row">
    <div class="span12">
        <div class="portlet">
            <h4 class="portlet-title">
                <u>All Student</u>
            </h4>
            <!-- /widget-header -->
            <div class="portlet-body">
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th style="width: 15%"></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="cell">
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                            <td class="cell">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                    @Html.ActionLink("Edit", "Edit", new { id=item.DepartmentId }) |
                                    @Html.ActionLink("Details", "Details", new { id=item.DepartmentId }) |
                                    @Html.ActionLink("Delete", "Delete", new { id=item.DepartmentId })
                                </td>
                        </tr>
                    }

                </table>
            </div>
            <!-- /widget-content -->
        </div>
    </div>
</div>